.partners {

    &__title {
        @extend %title-font;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media screen and (max-width: 767px) {
        &__item {
            flex-basis: calc((100% - 30px) / 2);
        }
    
        &__item:not(:nth-child(n + 5)) {
            margin-bottom: 30px;
        } 
    }
    

    @media screen and (min-width: 768px) and (max-width:1199px) {
        &__item {
            flex-basis: calc((100% - 60px) / 3);
        }

        &__item:not(:nth-child(n + 4)) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        &__item {
            width: 170px;
        }
    }

    &__link  {
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid getColor('partners-color');
        border-radius: 4px;
        color: getColor('partners-color');
        @include animation2(color, border-color);
    }

    &__link:hover,
    &__link:focus {
        color: getColor('hover-color');
        border-color: getColor('hover-color');
    }

    &__icon {
        fill: currentColor;
    }
}