.partners {

    &__title {
        @extend %title-font;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        flex-basis: calc((100% - 30px) / 2);
    }

    &__item:not(:nth-child(n+5)) {
        margin-bottom: 30px;
    }

    &__link  {
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid getColor('partners-color');
        border-radius: 4px;
        color: getColor('partners-color');
        @include animation2(color, border-color);
    }

    &__link:hover,
    &__link:focus {
        color: getColor('hover-color');
        border-color: getColor('hover-color');
    }

    &__icon {
        fill: currentColor;
    }
}