.principles {

    &__list {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        // display: flex;
        // justify-content: space-between;
    }

    // Not forget to fix margins

    &__item:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        &__item {
            flex-basis: calc((100% - 30px) / 2);
        }
    }

    &__icon {
        background-color: getColor('bg-2');
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
    }

    &__title {
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        color: getColor('second-color');
        line-height: 1.71;
        letter-spacing: 0.03em;
        // width: 270px;
    }
}